/*OpenSans Font*/
@font-face {
    font-family: 'Asap';
    src: url('Asap-Regular.html') format('truetype'); 
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Asap';
    src: url('Asap-Bold.html') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Asap';
    src: url('Asap-Italic.html') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Asap';
    src: url('Asap-BoldItalic.html') format('truetype');
    font-weight: bold;
    font-style: italic;
}

